<div class="sub-county bg-gray-50 border border-gray-300 p-3 rounded-lg">
  <div>
    <%= sub_county_form.label :name, "Sub-County Name", class: "block
    text-gray-700 font-medium mb-2" %> <%= sub_county_form.text_field :name,
    class: "w-full border border-gray-300 rounded-lg p-2 focus:outline-none
    focus:ring-2 focus:ring-blue-500" %>
  </div>
  <%= sub_county_form.hidden_field :_destroy %> <%= link_to "Remove Sub-County",
  "#", class: "remove-sub-county text-red-500 hover:text-red-700 font-medium
  mt-2 inline-block" %>
</div>
